<?xml version="1.0" encoding="UTF-8"?>

<!-- This is a configuration file SLF4J logger settings, 
in this case logs written to a log file. -->

<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/application.log</file>
		<encoder>
			<pattern>%date [%level] from %logger in %thread -
				%message%n%xException</pattern>
		</encoder>
	</appender>

	<logger name="akka.event.slf4j.Slf4jLogger" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

</configuration>                   